<h2>Here you find a list of people who already support our cause: </h2>

<ul>
    {{#each names}}
        <li> {{#if this.url}}<a target = "_blank" href="~/petition/{{this.url}}">{{/if}}{{this.first}} {{this.last}}</a> ({{#if this.age}}{{this.age}}{{/if}}{{#if this.city}} ,<a href="{{this.city}}"> {{this.city}}{{/if}})</a></li>
    {{/each}}

</ul>
