<h2>Here you find a list of people who already support our cause: </h2>

<ul>
    {{#each names}}
        <li> {{#if this.url}}
                <a target = "_blank" href="{{this.url}}">{{this.first}} {{this.last}} </a>
            {{else}}
                {{this.first}} {{this.last}}
            {{/if}}

            {{#if this.age}}({{this.age}}
                {{#if this.city}} ,<a href="{{this.city}}">{{this.city}}</a>{{/if}})
                {{else}}
                {{#if this.city}} (<a href="{{this.city}}">{{this.city}}</a>) {{/if}}
            {{/if}}

        </li>
    {{/each}}

</ul>
